.selector {
  margin-top: 15rem;
  margin-bottom: 2rem;
  transition: margin-top 0.5s ease-in-out;
}

.selector_button {
  background-color: #FFF;
  color: #000;
  padding: 0.5rem 2rem;
  border-radius: 24px;
  font-size: 0.875rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: background-color 0.3s ease, color 0.3s ease, letter-spacing 0.3s ease;
}

.selector_button:hover {
  background-color: #000;
  color: #FFF;
  letter-spacing: 5px;
  border: none;
  cursor: pointer;
  padding-top: 0.5rem;
  padding-bottom: 0.75rem;
}

.selector_button_icon {
  width: 1.25rem;
  height: 1.25rem;
  margin-left: 0.875rem;
  vertical-align: middle;
}

.selector_form {
  font-size: 1.5rem;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  padding: 0.625rem 2rem;
  border-radius: 24px;
  transition: opacity 0.5s ease, max-height 0.5s ease;
}

.selector_form.show {
  opacity: 1;
  max-height: 400px;
}

@media (min-width: 897px) {
  .selector_button {
    padding: 0.75rem 2.5rem;
    font-size: 1.5rem;
  }
  .selector_button_icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 1rem;
  }
}

@media (min-width: 1281px) {
  .selector_button {
    padding: 1rem 3rem;
    font-size: 2rem;
  }
  .selector_button_icon {
    width: 2rem;
    height: 2rem;
    margin-left: 1.25rem;
  }
}
