$main_text: #FFF;
$additional_text: #000;

$main_background: #000;
$additional_background: #979797;
$weather_background: #FAEBD7;
$fact_background: rgba(0, 0, 0, 0.5);

$icon_color: #FFF;

$main_font_family: Inter;